<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
</head>
<body>
    <h1>Restablecer Contraseña</h1>
    <form action="/api/sessions/reset-password?token={{token}}" method="POST" class="form">
        <label for="newPassword">Nueva Contraseña</label> 
        <input type="password" name="newPassword" placeholder="Ingrese la nueva contraseña">

        <label for="repeatPassword">Repetir Contraseña</label> 
        <input type="password" name="repeatPassword" placeholder="Repita la nueva contraseña">

        <button class="boton"> Restablecer Contraseña </button>
    </form>
</body>
</html>
